/* Icono de notificación */
.notif-icon {
    cursor: pointer;
    user-select: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: #3b82f6;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.15);
    z-index: 100;
}

.notif-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #ef4444;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px 7px;
    font-size: 14px;
}

/* Panel desplegable */
.notif-panel {
    position: fixed;
    top: 90px; 
    right: 20px;
    width: 300px;
    max-height: 400px;
    background-color: #2d3748;
    box-shadow: 0 2px 12px rgb(0 0 0 / 0.2);
    border-radius: 20px;
    padding: 12px;
    overflow-y: auto;
    z-index: 99;
    color:#ffffff;
}

.favorite-item {
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 6px;
    background-color:#4a5568;;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    border-radius: 0.75rem;
    color: #dee5f8;
    font-style: italic;
    }

.favorite-item button {
    margin-top: 2px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #4299e1;;
    border: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-left:240px;
    margin-bottom:10px;
}

.favorite-item button:hover {
    background-color: #3182ce;
}

.textFavorite {
    font-size: 0.99rem;
}

.authorFavorite {
    font-size: 0.9rem;
    color: #a0aec0;
    margin-bottom: 8px;
}

.categoryFavorite {
    border-radius: 3rem;
    background-color: #6797be;
    width: 5rem;
    font-size: 15px;
    margin-bottom: 3px;
    margin-top:1px;
}