/* Icono de notificación */
.notif-icon {
    cursor: pointer;
    user-select: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: oklch(0.6231 0.188 259.81);
    color: oklch(1 0 0);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    box-shadow: 0 2px 8px oklch(0 0 0 / 15%);
    z-index: 100;
}
.notif-icon.limit {
    background: rgb(116, 116, 128); /* cambia a rojo cuando se alcanza el límite */
}
.notif-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: oklch(0.6368 0.2078 25.33);
    color: oklch(1 0 0);
    font-weight: bold;
    border-radius: 50%;
    padding: 4px 7px;
    font-size: 12px;
    
}

/* Panel desplegable */
.notif-panel {
    position: fixed;
    top: 90px; 
    right: 20px;
    width: 300px;
    max-height: 400px;
    background-color: oklch(0.3351 0.0331 260.91);
    box-shadow: 0 2px 12px oklch(0 0 0 / 20%);
    border-radius: 20px;
    padding: 12px;
    overflow-y: auto;
    z-index: 99;
    color:oklch(1 0 0);
}

.favorite-item {
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 6px;
    background-color:oklch(0.4474 0.0343 261.32);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    border-radius: 0.75rem;
    color: oklch(0.9223 0.0269 269.66);
    font-style: italic;
    }

.favorite-item button {
    margin-top: 2px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: oklch(0.6626 0.1358 246.81);;
    border: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px oklch(0 0 0 / 10%), 0 2px 4px -1px oklch(0 0 0 / 6%);
    margin-left:240px;
    margin-bottom:10px;
}

.favorite-item button:hover {
    background-color: oklch(0.5946 0.1398 250.3);
}

.textFavorite {
    font-size: 0.99rem;
}

.authorFavorite {
    font-size: 0.9rem;
    color: oklch(0.7457 0.0304 254.72);
    margin-bottom: 8px;
}

.categoryFavorite {
    border-radius: 3rem;
    background-color: oklch(0.6574 0.0781 243.87);
    width: 5rem;
    font-size: 15px;
    margin-bottom: 3px;
    margin-top:1px;
}