.phrase-container {
    width: 40rem;
    overflow: hidden;
    background-color: oklch(0.3742 0.0316 263.03);
    color: oklch(1 0 0);
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 6px oklch(0.9067 0 0 / 10%);
    transition: background-color 0.3s ease;
}

.phrase-container:hover {
    background-color: oklch(0.36 0 0);
}

.phrase {
    width: 90%;
    margin: auto;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    color: #dee5f8;
}

.author {
    color: oklch(0.736 0.0344 270.32);
}

.phrase-controls {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.button-phrase {
    display: flex;
    margin: 5px;
    background-color: oklch(0.6275 0.1862 257.89);
    color: oklch(1 0 0);
    align-items: center;
}

.icon {
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    .phrase-container {
        width: 90%;
        padding: 15px;
    }

    .phrase {
        font-size: 20px;
    }

    .author {
        font-size: 14px;
    }

    .phrase-controls {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .button-phrase {
        width: 100%;
        justify-content: center;
    }

}